<!doctype html>
<html>

<head>

	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	<meta id="viewport_meta" name="viewport" content="width=device-width, initial-scale=1">
	<script>
		if (screen.width < 640) {
			var mvp = document.getElementById('viewport_meta');
			mvp.setAttribute('content', 'width=640');
		}
	</script>
	
	<title>Beacon Simulator</title>
	
	<link rel="stylesheet" href="static/css/beaconSim.css" type="text/css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<script>
		window.loaded = false;
		$(window).load(function() {
			window.loaded = true;
		});
	</script>
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" src="static/js/webgl-utils.js"></script>
	
<script id="shader-fs" type="x-shader/x-fragment">
    precision mediump float;

    varying vec4 vColor;

    void main(void) {
        gl_FragColor = vColor;
    }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;
    attribute vec4 aVertexColor;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    varying vec4 vColor;

    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
        vColor = aVertexColor;
    }
</script>



	
	
	<!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
	<script data-main="static/js/beaconSim" src="static/js/require-min.js"></script>

</head>
<body>
	<div class="centered v_center_a">
		<div class="v_center_b">
			<div id="canvasContain">
				<canvas id="beaconCanvas" width="640" height="640"></canvas>
				<br/>
				(use arrow keys to rotate, and pg up / pg down to zoom)
				<br/>
				<br/>
				programme: 
				<div id="progTitle"></div>
				(use space bar to change)
			</div>
		</div>
	</div>
</body>
</html>